<%= form_for(@site, :validate => true, :as => :site, :url => create_setup_path(:step => step || '2'), :method => :post) do |f| %>
  <%= f.hidden_field :default_site, :value => true %>

  <p><%= f.label :title %>
  <%= f.text_field :title %></p>

  <p><%= f.label :description %>
  <%= f.text_field :description %></p>

  <p><%= f.label :cname_alias, "Site Domain" %>
    <%= f.text_field :cname_alias, :value => request.host %></p>

  <p><%= f.label :email_from, "Emails from this site will come from" %>
    <%= f.text_field :email_from %></p>

  <p><%= f.label :email_subject_prefix %>
    <%= f.text_field :email_subject_prefix %></p>

  <p><%= f.submit "Continue" %></p>
<% end %>
