<% content_for :page_id do %>session_mgmt<% end %>
<% content_for :page_title do %><%= THREDDED[:site_name] %> | Forgot Your Password?<% end %>

<h1>Forgot your password?</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "session_mgmt" }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %>
  <%= f.text_field :email %></p>

  <p><%= f.submit "Send me reset password instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>