<% content_for :page_id do %>session_mgmt<% end %>
<% content_for :page_title do %><%= site.title %> | Log In<% end %>

<h1>Log in</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "session_mgmt"}) do |f| %>
  <p><%= f.label :email %>
  <%= f.text_field :email %></p>

  <p><%= f.label :password %>
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
