<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <%= stylesheet_link_tag "application" %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
  <%= csrf_meta_tag %>
</head>
<!-- default layout -->
<body id="<%= yield :page_id %>" data-tz-offset="<%= tz_offset %>">
	<header>
		
		<nav id="site_wide">
			<ul>
			  <%= render 'devise/menu/registration_items' %>
			  <%= render 'devise/menu/login_items' %>
			</ul>
		</nav>

	</header>

	<section id="contentwrap">
    <header role="banner">
      <% if site %>
      <hgroup>
        <h1><%= site.title %></h1>
        <h2><%= site.description %></h2>
      </hgroup>
      <% end %>
      <%= yield :header_nav %>
    </header>
  
		<%= render :partial => "shared/error_msgs" %>
    <section id="content">
      <%= yield %>
    </section>

	</section>

	<footer>
	</footer>

  <%= javascript_include_tag "application" %>
</body>
</html>
